body{
    background-color: crimson;
}

h1{
    color: black;
    text-align: center;
}

ins{
    color: black;
    text-align: center;
}


h3{
    color: black;
    text-align: center;
}


h4{
    color: black;
    text-align: center;
}

h5{
    color: black;
    text-align: center;
}



